<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel3.12</string>
			<key>Key</key>
			<string>prefaciertos36</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel3.11</string>
			<key>Key</key>
			<string>prefaciertos35</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel3.10</string>
			<key>Key</key>
			<string>prefaciertos34</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel3.9</string>
			<key>Key</key>
			<string>prefaciertos33</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel3.8</string>
			<key>Key</key>
			<string>prefaciertos32</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel3.7</string>
			<key>Key</key>
			<string>prefaciertos31</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel3.6</string>
			<key>Key</key>
			<string>preferrores36</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel3.5</string>
			<key>Key</key>
			<string>preferrores35</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel3.4</string>
			<key>Key</key>
			<string>preferrores34</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel3.3</string>
			<key>Key</key>
			<string>preferrores33</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel3.2</string>
			<key>Key</key>
			<string>preferrores32</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel3.1</string>
			<key>Key</key>
			<string>preferrores31</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel2.12</string>
			<key>Key</key>
			<string>prefaciertos32</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel2.11</string>
			<key>Key</key>
			<string>prefaciertos31</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel2.10</string>
			<key>Key</key>
			<string>prefaciertos30</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel2.9</string>
			<key>Key</key>
			<string>prefaciertos29</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel2.8</string>
			<key>Key</key>
			<string>prefaciertos28</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel2.7</string>
			<key>Key</key>
			<string>prefaciertos27</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel2.6</string>
			<key>Key</key>
			<string>preferrores26</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel2.5</string>
			<key>Key</key>
			<string>preferrores25</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel2.4</string>
			<key>Key</key>
			<string>preferrores24</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel2.3</string>
			<key>Key</key>
			<string>preferrores23</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel2.2</string>
			<key>Key</key>
			<string>preferrores22</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel2.1</string>
			<key>Key</key>
			<string>preferrores21</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel1.12</string>
			<key>Key</key>
			<string>preferrores6</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel1.11</string>
			<key>Key</key>
			<string>prefaciertos6</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel1.10</string>
			<key>Key</key>
			<string>preferrores5</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel1.9</string>
			<key>Key</key>
			<string>preferrores4</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel1.8</string>
			<key>Key</key>
			<string>preferrores3</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel1.7</string>
			<key>Key</key>
			<string>preferrores2</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel1.6</string>
			<key>Key</key>
			<string>preferrores1</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel1.5</string>
			<key>Key</key>
			<string>prefaciertos5</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel1.4</string>
			<key>Key</key>
			<string>prefaciertos4</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel1.3</string>
			<key>Key</key>
			<string>prefaciertos3</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel1.2</string>
			<key>Key</key>
			<string>prefaciertos2</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nivel1.1</string>
			<key>Key</key>
			<string>prefaciertos1</string>
		</dict>
	</array>
</dict>
</plist>
