<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cedac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D3EE3A51BC9975E00CFD061</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D3EE3B91BC9975E00CFD061</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D3EE3C41BC9975E00CFD061</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
